@{
    ViewBag.Title = "Home Page";
}

    <div class="jumbotron">
        <h1>TacoHub</h1>
        <p class="lead">Welcome to TacoHub! We hope your enjoy your ordering experience, and your tacos!</p>
        <button type="button" class="btn btn-primary">Register</button>
        <button type="button" class="btn btn-primary">Login</button>
    </div>



